*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor{
    background: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
button{
    background: rgb(124, 11, 33);
    text-align: center;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 15px;
    margin: 15px 80px;
}